@font-face {    
        font-family: 'Open Sans';
        src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
             url('../fonts/opensans-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@keyframes hero {
    0% {
        background-size: auto 100%;
    }

    50% {
        background-size: auto 120%;
    }

    100% {
        background-size: auto 100%;
    }

}

:root {
    --usu: #ffffff;
    --bright: #9d5cd0;
    --active: #7943a4;
    --btn-border: #d1a9f0;
    --hover: #c283f3;
    --text-color: #333333;
    --container-width: 1600px;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}

h2 {
    margin-top: 0;
    font-size: 48px;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.btn {
    color: var(--usu);
    font-weight: 700;
    font-size: 18px;
    background-color: var(--bright);
    border-radius: 100px;
    box-sizing: border-box;
    border: transparent;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.slider-cover {
    z-index: -10;
    width: 100%;
    height: 800px;
    background-image: url('../img/hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: hero 40s ease-in-out infinite;
}

.burger {
    display: none;
    position: relative;
    width: 36px;
    height: 28px;
    background-color: transparent;
    border: none;
}

.burger-line {
    position: absolute;
    left: 0;
    width: 28px;
    height: 4px;
    background-color: var(--usu);
}

.burger-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 36px;
    height: 4px;
    background-color: var(--usu);
}

.burger-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 24px;
    height: 4px;
    background-color: var(--usu);
}

.header-logo {
    display: inline-block;
    width: 173px;
    height: 40px;
    margin-right: 173px;
}

.first-nav__container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.first-nav {
    background-color: black;
}

.first-nav__list {
    display: flex;
    margin-right: auto;    
    padding-left: 0;
}

.first-nav__item {
    padding-right: 48px;
}

.first-nav__link {
    padding: 2px 5px;
    font-weight: 600;
    font-size: 18px;
    color: var(--usu);
    transition: color 0.3s;
    border: 2px solid transparent;
}

.first-nav__link:focus {
    border: 2px solid #7943A4;
}

.first-nav__link:hover {
    color: var(--hover);
}

.first-nav__link:active {
    color: var(--bright);
}

.login:focus {
    outline: none;
    border: 2px solid #7943A4;
}

.login__icon {
    transition: fill 0.3s;
}

.login:hover .login__icon {
    fill: var(--hover);
}

.login:hover {
    color: var(--hover);
}

.login:active .login__icon {
    fill: var(--bright);
}

.login:active {
    color: var(--bright);
}

.login {
    padding: 2px 0 2px 5px;
    font-size: 18px;
    color: var(--usu);
    transition: color 0.3s;
    border: 2px solid transparent;
}

.login:hover .login__icon {
    fill: var(--hover);
}

.second-nav {
    background-color: rgba(0, 0, 0, 0.4);
}

.second-nav__container {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.second-nav__list {
    display: flex;
    margin-right: auto;
    padding-left: 0;
}

.second-nav-list__item {
    position: relative;
    margin-right: 73px;
    padding: 2px 20px 2px 0px;
}

.second-nav__item {
    padding-left: 0;
    padding-right: 20px;
    color: var(--usu);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    transition: color 0.3s;
}

.second-nav__item:focus {
    outline: 2px solid var(--active);
}

.second-nav-list__item:hover .second-nav__item {
    color: var(--bright);
}

.second-nav-list__item:hover .second-nav__item::after {
    border-color: var(--bright);
}

.second-nav-list__item:active .second-nav__item {
    color: var(--active);
}

.second-nav-list__item:active .second-nav__item::after {
    border-color: var(--active);
}

.second-nav__item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 7px;
    height: 7px;
    margin-left: 4px;
    border: 1px solid #FFFFFF;
    border-left: transparent;
    border-top: transparent;
    box-sizing: border-box;
    transform: rotate(45deg) translateY(-50%);
}

.second-nav__submenu {
    display: none;
    position: absolute;
    top: 186%;
    left: 0;
    width: 300px;
    height: 300px;
    padding: 40px ;
    background-color: rgba(0, 0, 0, 0.6);
}

.simplebar-content-wrapper {
    overflow: auto;
}

.second-nav__submenu-item {
    display: block;
    padding: 10px 0 10px 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid transparent;
}

.submenu-item--tint {
    background-image: url('../img/secondnav-sbm-1.png');
}

.submenu-item--frid {
    background-image: url('../img/secondnav-sbm-2.png');
}

.submenu-item--leo {
    background-image: url('../img/secondnav-sbm-5.png');
}

.submenu-item--verr {
    background-image: url('../img/secondnav-sbm-4.png');
}

.simplebar-scrollbar:before {
    left: 0;
    right: 0;
    background: var(--bright);
    border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}

.simplebar-track.simplebar-vertical {
    top: 40px;
    right: 19px;
    width: 2px;
    bottom: 40px;
    background-color: black;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0px;
    bottom: 0px;
}

.second-nav__submenu-item:hover {
    border: 2px solid var(--bright);
}

.second-nav__submenu-item:active {
    border: 2px solid var(--btn-border);
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.second-nav__submenu li:not(:last-child) {
    margin-bottom: 20px;
}

.toggle-visibility {
    display: block;
}

.header-search__btn {
    margin-right: -2px;
    background-color: transparent;
    height: 22px;
    border: none;
    outline: none;
    transition: border .3s ease-in-out;
}

.header-search__btn:focus {
    border: 2px solid var(--active);
    box-sizing: content-box;
    outline: none;
}

.header-search__btn:hover rect,
.header-search__btn:hover path {
    fill: var(--hover);
}

.header-search {
    width: 226px;
    padding: 7px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    outline: none;
}

.header-search::placeholder {
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.header-search:focus {
    border: 2px solid var(--active);
}

.header-search:hover::placeholder {
    border-bottom: 1px solid var(--hover);
}

.header-search__mob {
    display: none;
    width: 30px;
    height: 29px;
    background-image: url('../img/header-search.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    padding-top: 12px;
}

.hero-container {
    padding-top: 61px;
}

.hero-text {
    max-width: 565px;
    color: var(--usu);
}

.hero__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 72px;
}

.hero__descr {
    margin-bottom: 91px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.hero__btn {
    padding: 23px 33px;
    border: 3px solid transparent;
    transition: border .3s ease-in-out;
}

.hero__btn:hover {
    border: 3px solid var(--btn-border);
}

.hero__btn:active {
    background: var(--active);
    border: 3px solid var(--btn-border);
}

.hero__btn:focus {
    border: solid 2px #fff;
}

.about {
    color: var(--text-color);
}

.about__container {
    padding-top: 87px;
    padding-bottom: 70px;
}

.about__title {
    margin-bottom: 20px;
}

.about__descr {
    max-width: 1080px;
    line-height: 32px;
}

.gallery {
    color: var(--usu);
    background-image: url('../img/gallery-bg.jpg')
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 84px;
    padding-bottom: 82px;
}

.gallery-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin-right: 50px;
}

.gallery__title {
    margin-bottom: 28px;
}

.gallery-filter__title {
    margin-bottom: 17px;
    font-weight: 600;
}

.choices__inner {
    background-color: transparent;
    border-color: var(--usu);
    border-radius: 6px;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: var(--usu);
}

.choices__placeholder {
    opacity: 1;
}

.is-open .choices__list--dropdown {
    border-color: #999999;
    border-top-color: var(--usu);
    color: #999999;
}

.choices[data-type*=select-one] .choices__input {
    background-color: transparent;
    border-color: var(--usu);
    border-radius: 6px;
}

.choices__list--dropdown {
    background-color: transparent;
    border-color: var(--usu);
    border-radius: 6px;
}

.choices[data-type*=select-one]:after {
    width: 11px;
    height: 11px;
    margin-top: -4.5px;
    border: none;
    background-image: url('../img/gallery-choice-down.svg');
    background-repeat: no-repeat;
    background-size: cover
}

.choices[data-type*=select-one] .choices__input {
    display: none;
}

.choices__list--dropdown .choices__item {
    border-top: 1px solid #999999;
}


.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: var(--usu);
    color: black;
    opacity: .5;
}

[id*='choice-1'] {
    display: none;
}

.gallery-filter__list {
    width: 400px;
    background-color: transparent;
    color: var(--usu);
    border-radius: 6px;
    padding: 10px 15px;
}

.choices[data-type*=select-one].is-open:after {
    margin-top: -2.5px;
    transform: rotate(180deg);
}

.gallery-auth {
    line-height: 32px;
    max-width: 386px;
    margin-bottom: -10px;
}

.gallery-auth__link {
    font-weight: 600;
    color: var(--hover);
    transition: border .3s ease-in-out;
}

.gallery-auth__link:focus {
    border: 2px solid var(--active);
}

.gallery-auth__link:hover {
    border-bottom: 2px solid var(--bright);
}

.gallery-auth__link:active {
    color: var(--active);
    border-bottom: 2px solid var(--active);
}

.gallery-slider {
    width: 72%;
}

.swiper-container1 {
    width: 100%;
    height: 810px;
    overflow: hidden;
}

.gallery-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper-slide:active .gallery-slide__img {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/gallery-enlarge.png');
}

.swiper-slide:after {
    position: absolute;
    content: '';
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(194, 131, 243, 0.4);
}

.swiper-slide:active::after {
    opacity: 1;
}

.swiper-container1 .swiper-slide::before {
    position: absolute;
    content: '';
    display: block;
    opacity: 0;
    top: 7%;
    left: 7%;
    height: 300px;
    width: 300px;
    background: rgba(194, 131, 243, 0.4);
    background-size: cover;
    background-image: url('../img/gallery-enlarge.png');
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.swiper-slide:hover::before {
    opacity: 1;
}


.slider-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    margin-top: 19px;
    margin-bottom: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    vertical-align: middle;
    position: static;
    display: inline-block;
    background-color: #666666;
    width: 30px;
    height: 30px;
    margin-top: 0;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    opacity: 1;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--usu);
    background-color: var(--bright);
}

.swiper-button-prev:active,
.swiper-button-next:active {
    color: var(--usu);
    background-color: var(--active);
    border: 1px solid var(--btn-border);
}

.swiper-button-prev {
    background-image: url('../img/gallery-arrow-left.png');
    opacity: 1 !important;
}

.swiper-button-next {
    background-image: url('../img/gallery-arrow-right.png');
    opacity: 1 !important;
}

.swiper-pagination {
    position: static;
    display: inline-block;
    margin: 0 21px;
    width: auto;
    vertical-align: middle;
    font-size: 14px;
}

.swiper-slide {
    height: calc((100% - 50px) / 2);
    overflow: hidden;
}

.catalog {
    padding-top: 88px;
    padding-bottom: 87px;
}

.country-catalog {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.catalog__title {    
    margin-right: 41px;
    margin-bottom: 3px;
    line-height: 1;
    vertical-align: middle;  
}

.flags-list {  
    display: flex;  
    margin: 0;
    padding-left: 0;
}

.flags-list__item {
    margin-right: 50px;    
    position: relative;
}

.flag {
    display: inline-block;
    padding: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:  none;
    background-repeat: no-repeat;
    background-size: cover;
    transition: box-shadow .3s ease-in-out;
    background-color: transparent;
}

.flag:active {
    border: 2px solid var(--bright);
}

.flag:hover {    
    box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}

.flag::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -12px;
    left: -12px;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    border: 2px solid var(--bright);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.flag:focus::after {
    outline: none;
    opacity: 1;
}

.flag--focused {
    box-shadow: 0 0 0 8px #fff, 0 0 0 10px var(--bright);
}

.flag__fr {
    background-image: url('../img/flag-fr.png');
}
.flag__de {
    background-image: url('../img/flag-de.png');
}
.flag__it {
    background-image: url('../img/flag-it.png');
}
.flag__ru {
    background-image: url('../img/flag-ru.png');
}
.flag__be {
    background-image: url('../img/flag-be.png');
}

.catalog__descr {
    margin-bottom: 38px;
    max-width: 1075px;
    line-height: 32px;
}

.catalog-main {
    display: none;
    justify-content: space-between;
}

.tab-content-active {
    display: flex;
}

.dont-show {
    display: none;
}

.catalog-main__descr {
    display: none;
}

.catalog-main__descr--shown {
    display: inline-block;
}

.catalog-descr__img {
    max-width: 750px;
    margin-bottom: 30px;
    width: 100%;
}

.catalog-descr__name {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color);
}

.catalog-descr__date {
    margin-bottom: 6px;
    font-size: 12px;
    color: #999999;
}

.catalog-descr__bio {
    max-width: 750px;
    margin-bottom: 0;
    line-height: 32px;
}

.catalog-main__accordion {
    width: 52%;
    max-width: 800px;
}

.accordeon-item {
    margin-top: -2px;
}

.ui-icon, .ui-widget-content .ui-icon {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('../img/catalog-down.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url('../img/catalog-up.png');
}

.ui-icon-triangle-1-e,
.ui-icon-triangle-1-s {
    background-position: 0 0;
}

.ui-accordion .ui-accordion-header {
    padding: 1.5em .5em 1.7em 0;
    margin: 0;
    outline: none;
    font-size: 25px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: 0;
}

.ui-accordion .ui-accordion-content {
    padding-left: 0;
    overflow-y: hidden;
    border: 2px solid transparent;    
    transition: border .3s ease-in-out, color .3s ease-in-out;
}

.accordeon-item:not(:last-child) .ui-accordion-header {
    border-bottom: none;
}

.ui-accordion-header-active {
    border-bottom: 1px solid #c5c5c5 !important;
}

.ui-accordion .ui-accordion-header:focus {
    border: 1px solid var(--active);
}

.ui-accordion .ui-accordion-header:hover {
    border-top: 1px solid var(--bright);
    border-bottom: 1px solid var(--bright) !important;
    color: var(--bright);
}

.ui-accordion .ui-accordion-header:hover .ui-accordion-header-icon {
    background-image: url('../img/catalog-down-hover.png');
}

.ui-accordion .ui-accordion-header-active:hover .ui-accordion-header-icon {
    transform: rotate(180deg);
}

.ui-accordion .ui-accordion-header:active {
    border-top: 1px solid var(--active);
    border-bottom: 1px solid var(--active);
    color: var(--active);
}

.ui-state-active .ui-accordion-header-icon {
    background-image: url('../img/catalog-up.png');
}

.ui-accordion .ui-accordion-header:active .ui-accordion-header-icon {
    background-image: url('../img/catalog-up-active.png');
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: transparent;
    color: var(--text-color);
    border-left: none;
    border-right: none;
    border-color: #cacaca;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border-bottom-color: var(--bright);
}

.ui-widget-content {
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--bright);
    border-bottom: 1px solid var(--bright);
}

.catalog-names__item {
    padding: 3px;
    border: 2px solid transparent;
    background-color: transparent;
    outline: none;    
    font-family: 'Open Sans', sans-serif !important;
    cursor: pointer;
    transition: color .3s ease-in-out, border .3s ease-in-out;
}

.catalog-names__item:focus {
    border: 2px solid var(--active) !important;
}

.catalog-names__item--focused {
    color: var(--active) !important;
}

.catalog-names__item:hover {
    color: var(--bright);
    border-bottom: 1px solid var(--bright);
}

.catalog-names__item:active {
    color: var(--active);
}

.catalog-main__dates {
    font-size: 24px;
    font-weight: 600;
}

.catalog-main__names {    
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 11px 0;
    max-height: 309px;
    line-height: 32px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: transparent;
    color: var(--text-color);
    border-left: none;
    border-right: none;
}

.catalog-main__accordion .ui-accordion .ui-widget .ui-helper-reset {
    margin-top: -2px;
}


.events__title {
    margin-bottom: 20px;
    color: var(--text-color);
}

.events__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.event {   
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 50px;
    width: 32%;
    max-width: 500px;
    min-height: 700px;
    border: 1px solid #CACACA;
}

.dont-show {
    display: none;
}

.event:not(:nth-child(3n)) {
    margin-right: 3.12%;
}

.event-img {
    width: 100%;
}

.event__text {
    padding: 18px 17px 43px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event__details {
    margin-bottom: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #999999;
}

.event__title {
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.event__descr {
    margin-bottom: 18px;
    max-width: 400px;
    line-height: 32px;
}

.event__more {
    display: inline-block;
    margin-top: auto;
    align-self: flex-start;
    padding-bottom: 2px;   
    color: var(--bright); 
    border-bottom: 1px solid var(--bright);
    transition: font-weight .3s ease-in-out;
}

.event__more:hover {
    font-weight: bold;
}

.event__more:focus {
    outline: 2px solid var(--active);
    outline-offset: 3px;
}

.events__btn {
    position: relative;
    display: block;
    margin: 0 auto 81px;
    padding: 17px 35px;
    border: 2px solid var(--bright);
    border-radius: 100px;
    color: var(--bright);
    background-color: transparent;
    transition: color .3s ease-in-out, background-color .3s ease-in-out
}

.events__btn::after {
    content: '';
    position: absolute;
    top: -6px; 
    left: -6px; 
    bottom: -6px; 
    right: -6px;
    border: 2px solid var(--hover);
    border-radius: 100px;
    opacity: 0;
}

.events__btn:hover {
    color: var(--usu);
    background-color: var(--bright);
}

.events__btn:focus::after {
    opacity: 1;
}

.event-hidden {
    display: none;
}

.publications {
    background-image: url('../img/public-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--usu);
}

.publications-container {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 73px;
}

.publications-filter {
    margin-right: 109px;
}

.publications-filter__title {
    margin-bottom: 20px;
}

.publications__cat {
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 2px; 
    margin-top: 0;   
    font-size: 16px;
}

.publications-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 36px;
}

.publications-list li {
    margin-bottom: 4px;
    margin-left: -6px;
}

.publications-list__item {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.publications-list__item + label {
    display: inline-flex;
    padding: 3px 5px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: color .3s ease-in-out;
}

.publications-list__item + label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--usu);
    margin-right: 0.6em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: color .3s ease-in-out;
}


.publications-list__item:checked + label::before {
    border: 1px solid var(--bright);
    background-image: url('../img/public-marker.svg');
    background-size: 4px 4px;
}

.publications-list__item:checked + label {
    color: var(--bright);
}

.publications-list__item:hover + label {
    color: var(--hover);
}

.publications-list__item:focus + label {
    border: 2px solid var(--active);
}

.publications-list__item:hover + label::before {
    border: 1px solid var(--hover);
}

.publications-price {
    margin-top: 0;
    margin-bottom: 13px;
    font-size: 16px;
}

.publications-range {
    display: flex;
    max-width: 340px;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.publications-range__from {
    padding: 0 10px;
}

.publications-range__from + input {
    padding: 0 0 0 10px;
    width: 75px;
    height: 100%;
    color: var(--usu);
    background-color: rgba(157, 92, 208, 0.5);
    border: none;
}

.publications-range__to {
    padding: 0 9px;
}

.publications-range__to + input {
    padding: 0 10px;
    width: 73px;
    height: 100%;
    color: var(--usu);
    background-color: rgba(157, 92, 208, 0.5);
    border: none;
}

.publications-range__rub {
    padding: 0 10px;
}

.publications-items {
    padding-top: 28px;
}

.swiper-container2 {
    width: 1150px;
    overflow-x: hidden;
}

.swiper-container2 .slider-buttons {
    margin-top: 0;
}

.swiper-container2 .swiper-slide {
    width: 350px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.publications__img {
    margin-bottom: 23px;
    width: 100%;
}

.swiper-container2 .swiper-slide::before {
    display: none;
}

.swiper-container2 .swiper-slide:active::after {
    display: none;
}

.swiper-container2 .swiper-slide:after {
    display: none;
}

.public-slider__descr {
    display: flex;
    justify-content: space-between;
    color: var(--usu);
}

.public-slider__text {
    margin-bottom: 16px;
}

.public-slider__text span {
    display: block;
    margin-bottom: 3px;
    font-weight: 700;
}

.public-slider__price {
    font-style: italic;
}

.public-slider__order {
    position: relative;
    padding: 10px 21px;
    border: 2px solid var(--bright); 
    border-radius: 100px;
    background: transparent;
    font-weight: 700;
    color: var(--usu);
    cursor: pointer;
    box-sizing:border-box;
    outline: none;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.public-slider__order::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 2px solid var(--hover);
    border-radius: 100px;
    opacity: 0;
}

.public-slider__order:focus::after {
    opacity: 1;
}

.public-slider__order:hover {
    color: var(--usu);
    background-color: var(--bright);
}

.public-slider__order:active {
    border: 2px solid var(--btn-border);
}

.projects-container {
    padding-top: 87px;
}

.projects__title {
    margin-bottom: 20px;
}

.projects-descr {
    max-width: 1080px;
    margin-bottom: 22px;
    line-height: 32px;
}

.tooltip {
   position: relative;
   display: inline-block;
   
}

.tooltip__marker {
    width: 16px;
    height: 16px;
    position: relative;
    background-image: url('../img/tooltip.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.tooltip__marker:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 16px;
    height: 16px;
    z-index: 10;
}

.tooltip__popup {
    position: absolute;
    bottom: 25px;
    left:50%;
    transform:translateX(-50%);
    padding: 10px 13px;
    max-width: 264px;
    min-width: 242px;
    font-size: 12px;
    line-height: 16px;
    color: var(--usu);
    text-align: center;
    background-color: #cacaca;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.tooltip__popup::after {
    position: absolute;
    top: 100%;
    left:50%;
    transform:translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: #cacaca transparent transparent transparent;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
}

.tooltip__marker:hover+.tooltip__popup, .tooltip__marker:hover+.tooltip__popup::after {
    opacity: 1;
}

.projects-link {
    color: var(--bright);
    padding: 3px;
    border: 2ps solid transparent;
    transition: border .3s ease-in-out, color .3s ease-in-out;
}

.projects-link:focus {
    border: 2px solid var(--active);
}

.projects-link:hover {
    border-bottom: 1px solid var(--bright);
}

.projects-link:active {
    border-bottom: 1px solid var(--active);
    color: var(--active);
}

.projects-partner__title {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 600;
}

.partners-list {
    position: relative;
}

.swiper-container3 {
    width: 1450px;;
    height: 100%;
    margin: 0 75px 88px;
    overflow-x: hidden;
}

.projects-partner__item {
    width: 450px;
    height: 150px;
}

.projects-partner__item {
    width: 450px;
    height: 150px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
}

.projects-partner__item img {
    width: 100%;
    height: 100%;
}

.projects-partner__item:hover {
    filter: none;
    opacity: 1;
}

.swiper-container3 .swiper-button-prev {
    background-image: url('../img/project-arrow.png');
    background-color: #ececec;
    transform: rotate(180deg);
    left: 0;
}

.swiper-container3 .swiper-button-next {
    background-image: url('../img/project-arrow.png');
    background-color: #ececec;
    right: 0;
}


.swiper-container3 .swiper-button-prev,
.swiper-container3 .swiper-button-next
{
    position: absolute;
    top: 56%;
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
}

.contacts__title {
    margin-bottom: 20px;
}

.contacts-wrap {
    display: flex;
}

.contacts-info {
    width: 35.5%;
    padding-left: calc((100% - var(--container-width))/2);
    padding-top: 124px;
    padding-right: 122px;
    border-top: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}

.contacts__address span {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

.contacts__address {
    margin-bottom: 36px;
}

.contacts-form__title {
    margin-top: 0;
    margin-bottom: 19px;
    font-size: 24px;
    font-weight: normal;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 41px;
}

.contacts-form__name, .contacts-form__tel {
    padding: 10px 24px;
    margin-bottom: 21px;
    border-radius: 100px;
    border-color: #333333;
    outline: none;
}

.contacts-form__btn {
    padding: 17px 35px;
    align-self: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--bright);
    border-radius: 100px;
    background-color: transparent;
    color: var(--bright);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.contacts-form__btn:hover {
    color: var(--usu);
    background-color: var(--bright);
}

.contacts-mess__title {
    margin-bottom: 18px;
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
}

.contacts-mess__list {
    display: flex;
    padding-left: 0;
}

.contacts-mess__items:not(:last-child) {
    margin-right: 20px;
}

.contacts-mess__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3s ease-in-out;
}

.contacts-mess__item:hover {
    transform: scale(1.1, 1.1);
}

.contacts-mess__item--wa {
    background-image: url('../img/contacts-wa.svg');
}

.contacts-mess__item--tg {
    background-image: url('../img/contacts-tg.svg');
}

.contacts-map {
    width: 64.5%;
    height: 700px;
}
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(1);
}

.footer {
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footel-logo {
    display: inline-block;
    width: 173px;
    height: 40px;
    background-image: url('../img/header-logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__social {
    display: flex;
    padding-left: 0;
    margin-left: auto;
}

.footer-social__item {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-repeat:no-repeat;
    background-size: cover;
    transition: background-image .3s ease-in-out;
}

.footer__social li:not(:last-child) {
    margin-right: 19px;
}

.footer-social__vk {
    background-image: url('../img/footer-vk.svg');
}

.footer-social__inst {
    background-image: url('../img/footer-inst.svg');
}

.footer-social__fb {
    background-image: url('../img/footer-fb.svg');
}

.footer-social__vk:hover {
    background-image: url('../img/footer-vk-hover.svg');
}

.footer-social__inst:hover {
    background-image: url('../img/footer-inst-hover.svg');
}

.footer-social__fb:hover {
    background-image: url('../img/footer-fb-hover.svg');
}

@media (max-width: 1630px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider-cover {
        height: 700px;
    }  
    
    .header-logo {
        margin-right: 115px;
    }

    .first-nav__item {
        padding-right: 20px;
    }

    .second-nav-list__item {
        margin-right: 35px;
    }
    
    .hero__descr {
        margin-bottom: 50px;
    }

    .gallery-filter {
        width: 30%;
    }

    .gallery-slider {
        width: 64%;
    }

    .gallery-img {
        width: 100%;
    }

    .catalog-main__descr {
        width: 45%;
    }

    .catalog-main__accordion {
        width: 45%;   
    }

    .event:not(:nth-child(3n)) {
        margin-right: 2%;
    }

    .publications-items {
        width: 60%;
    }

    .swiper-container2 {
        width: 100%;
    }

    .swiper-container3 {
        width: calc(100% - 110px);
        margin-left: auto;
        margin-right: auto;
    }

    .contacts-info {
        padding-left: 15px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .first-nav__container {
        padding-top: 29px;
        padding-bottom: 29px;
    } 

    .slider-cover {
        height: 768px;
    }  

    .first-nav__container {
        justify-content: space-between;
    }

    .burger,
    .header-search__mob {
        display: inline-block;
    }

    .header-logo {
        margin-right: 0;
    }

    .first-nav__list,
    .login {
        display: none;
    }

    .second-nav {
        display: none;
    }

    .hero-container {
        padding-top: 104px;
    }

    .hero__title {
        margin-bottom: 13px;
    }

    .hero-text {
        max-width: 661px;
    }

    .hero__descr {
        margin-bottom: 133px;
    }

    .gallery-container {
        justify-content: space-between;
        padding-bottom: 73px;
    }

    .gallery-slider {
        height: 680px;
    }

    .swiper-container1 .swiper-slide {
        height: calc((80% - 35px) / 2);
    }

    .flags-list {
        padding-top: 12px;
    }

    .country-catalog {
        margin-bottom: 16px;
    }

    .catalog-main__descr {
        width: 47.5%;
    }

    .catalog-main__accordion {
        width: 48%;
    }

    .event {
        height: 683px;
        min-height: auto;
    }

    .event-img {
        height: 200px;
    }

    .event__text {
        padding-left: 37px;
        max-height: 483px;
        overflow: auto;
    }

    .event__descr {
        max-height: 225px;
        text-overflow: clip;
    }

    .publications-container {
        padding-bottom: 82px;
    }

    .publications-filter {
        margin-right: 10px;
    }

    .publications-items {
        width: 68%;
    }

    .publications__img {
        height: 320px;
        margin-bottom: 10px;
    }

    .projects-partner__item {
        height: 128px;
    }

    .contacts-info {
        padding-left: 51px;
        padding-right: 103px;
        width: 48%;
    }

    .contacts-mess__items:not(:last-child) {
        margin-right: 30px;
    }

    .contacts-mess__item {
        width: 60px;
        height: 60px;
    }

    .contacts-map {
        width: 52%;
    }

    .footer {
        padding-top: 24px;
        padding-bottom: 21px;
    }

    .footer__social li:not(:last-child) {
        margin-right: 28px;
    }

    .footer-social__item {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1024px) {
    .gallery-container {
        flex-direction: column;
        position: relative;
    }

    .gallery-filter {
        width: 42%;
    }

    .gallery-slider {
        width: 100%;
        height: auto;
    }

    .gallery-auth {
        position: absolute;
        bottom: 7%;
        left: 5%;
        width: 90%;
        max-width: none;
    }

    .catalog-main {
        flex-direction: column-reverse;
    }

    .catalog-main__descr {
        width: 100%;
    }

    .catalog-main__accordion {
        width: 100%;
        margin-bottom: 50px;
        max-width: none;
    }

    .catalog-descr__img, .catalog-descr__bio {
        max-width: none;
    }

    .event {
        width: 48%;
    }

    .event:not(:nth-child(2n)) {
        margin-right: 2%;
    }

    .publications-container {
        flex-direction: column;
    }

    .publications-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 130px;
    }

    .publications-items {
        width: 100%;
    }

    .projects-partner__item {
        height: 106px;
    }

    .contacts-info {
        width: 57%;
        padding-right: 45px;
    }

    .contacts-map {
        width: 43%;
    }
}

@media (max-width: 768px) {
    .slider-cover {
        height: 690px;
    }

    .hero-text {
        text-align: center;
    }   
    
    .hero__title {
        font-size: 64px;
    }

    .hero__descr {
        margin-bottom: 50px;
    }

    .gallery-container {
        padding-bottom: 210px;
    }

    .gallery-filter {
        width: 100%;
    }

    .gallery-auth {
        width: 80%;
        left: 9%;
    }

    .gallery-slider {
        height: 520px;
    }

    .gallery-img {
       width: 100%;
       height: 500px;
    }

    .country-catalog {
        flex-direction: column;
        align-items:flex-start;
    }

    .event {
        width: 100%;
    }

    .events__slider-container .swiper-wrapper {
        justify-content: initial;
        flex-wrap: nowrap;
    }

    .publications-list {
        min-width: 100%;
    }

    .publications__img {
        height: 50%;
    }

    .projects {
        width: 100%;
    }

    .contacts {
        position: relative;
    }

    .contacts__title {
        padding-bottom: 70px;
    }

    .contacts-wrap {
        flex-direction: column-reverse;
    }

    .contacts-info, .contacts-map {
        width: 100%;
    }

    .contacts__address {
        position: absolute;
        top: 70px;
        left: 53px;
    }
    
}

@media (max-width: 576px) {
    .slider-cover {
        height: 320px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .first-nav__container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .burger-line::before {
        width: 20px;
        height: 2px;
        top: -6px;
    }

    .burger-line {
        width: 15px;
        height: 2px;
    }

    .burger-line::after {
        width: 13px;
        height: 2px;
        bottom: -6px;
    }

    .header-logo {
        width: 96px;
        height: 21px;
    }

    .header-logo__img {
       width: 100%;
       height: 100%;
    }

    .header-search__mob {
        width: 16px;
        height: 16px;
    }

    .hero {
        padding-top: 0;
    }

    .hero-container {
        padding-top: 30px;
        padding-bottom: 45px;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__descr {
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
    }

    .hero__btn {
        padding: 12px 15px;
        font-size: 12px;
    }

    .about__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about__title {
        font-size: 28px;
    }

    .about__descr {
        font-size: 14px;
        line-height: 28px;
    }

    .gallery-container {
        padding-top: 50px;
        padding-bottom: 280px;
    }

    .gallery__title {
        font-size: 28px;
        line-height: 38px;  
    }
    
    .gallery-sort {
        margin-bottom: 80px;
    }

    .gallery-slider {
        position: relative;
        height: 365px;
    }

    .swiper-container1 .slider-buttons {
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .gallery-auth {
        left: 15px;
        bottom: 8%;
    }

    .catalog__title {
        font-size: 28px;
        line-height: 38px;
    }

    .flags-list {
        margin-bottom: 20px;
    }

    .flag {
        width: 32px;
        height: 32px;
    }

    .flags-list__item:not(:last-child) {
        margin-right: 32px;
    }

    .flag::after {
        width: 33px;
        height: 33px;
    }

    .catalog__descr {
        display: none;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 18px;
    }

    .ui-icon, .ui-widget-content .ui-icon {
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .events__title {
        font-size: 28px;
        line-height: 38px;
    }

    .publications-filter__title {
        font-size: 28px;
        line-height: 38px;
    }

    .publications__cat {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-top: 1px solid  rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .publications__cat::after {
        content: '';
        position: absolute;
        display: inline-block;
        right: 5px;
        top: 45%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border: 1px solid #ffffff;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        transform: rotate(45deg);
    }

    .publications-list {
        display: none;
    }

    .publications-range {
        max-width: 277px;
    }

    .projects-container {
        padding-top: 50px;
    }

    .projects__title {
        font-size: 28px;
    }

    .projects-partner__title {
        font-size: 18px;
    }

    .projects-partner__item {
        height: 65px;
    }

    .contacts__title {
        font-size: 28px;
    }

    .contacts__address {
        left: 15px;
        top: 50px;
        font-size: 14px;
    }

    .contacts__address span {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .contacts-map {
    }

    .contacts-info {
        padding-top: 20px;
        padding-left: 15px;
    }

    .contacts-form__title {
        font-size: 18px;
    }

    .contacts-form__btn {
        padding: 12px 35px;
        font-size: 12px;
    }

    .contacts-mess__title {
        font-size: 18px;
    }

    .contacts-mess__items:not(:last-child) {
        margin-right: 20px;
    }

    .contacts-mess__item {
        width: 50px;
        height: 50px;
    }

    .footer-container {
        flex-direction: column-reverse;
    }

    .footer__social {
        margin-left: 0;
    }

    .footer-social__item {
        width: 50px;
        height: 50px;
    }

    .footel-logo {
        width: 96px;
        height: 21px;
    }
}

@media (max-width: 320px) {

}


